# Build results
/bld/bin/
/bld/bin-int/

# LogDisplay output file
display.txt

# Visual Studio solutions
*.sln

# Visual Studio projects
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Visual Studio misc.
.vs/
